body {
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: sans-serif;
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 14px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 2px 2px rgb(241, 116, 174, 0.7);
}

.clock {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.clock div {
    margin: 5px;
}

.clock span {
    width: 200px;
    height: 80px;
    background-color: black;
    border: 2px solid rgb(241, 116, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px rgb(241, 116, 174, 0.7);
    
}

#hour {
    border-bottom: 0;
}

#minutes {
    border-bottom: 0;
}

#seconds {
    border-bottom: 0;
}

.clock .text {
    border-top: 0;
    height: 50px;
    font-size: 14px;
    text-transform: lowercase;
    letter-spacing: 3px;
    background-color: rgb(241, 116, 174, 0.3);
}

.clock #am-pm {
    top: 0;
    width: 100px;
    height: 130px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    h2 {
        font-size: 20px;
    }
    
    .clock span {
        width: 50px;
        height: 80px;
        font-size: 30px;
    }

    .clock #am-pm {
        width: 50px;
    }

    .clock .text {
        font-size: 6.5px;
    }
}